.input  {
    width: 100%;
    height: 100%;
}

.movesStringWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.movesString {
  width: 20rem;
  height: 0rem;
}

.rootContainer {
  height: calc(100vh - 3.2em);
}

.canvasContainer {
  height: 100%;
}
