.input  {
    width: 100vw;
    height: 100vh;
}

.movesStringWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.movesString {
  width: 20rem;
  height: 0rem;
}
